body {
    background-color: #eee;
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    font-weight: 300;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block {
    background-color: white; /* #5975fc; */
    margin: 16px;
    border-radius: 8px;
    border: none !important;
    box-shadow: 0px 0px 8px 0 rgba(57, 97, 145, 0.4);
    display: inline-block;
    padding: 20px 50px;
}

h2 {
    border-radius: 8px 8px 0 0;
    font-size: 17px;
    color: #333;
    background: white;
    margin-top: 0px;
    padding: 16px 24px;
    line-height: 100%;
    position: relative;
    font-weight: bold;
}

