table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

th {
  text-align: center;
}
td {
  text-align: left;
}
td,
th {
  vertical-align: middle;
  padding: 10px;
}

.action-button {
  margin: 20px 0px 20px 0px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background: linear-gradient(135deg, #259b24, #439b24);
  border-radius: 4px;
}

input[type="number"] {
  width: 50px;
  text-align: right;
}

select {
  background-color: white;
  width: 200px;
}

span {
  margin-top: 10px;
}

.close-button {
  font-weight: bold;
  float: right;
  position: relative;
  top: -75px;
  right: -40px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  color: white;
  background-color: orange;
  border-radius: 4px;
}

.progress0 {
  color: #eb6e85;
}
.progress0::-moz-progress-bar {
  background: #eb6e85;
}
.progress0::-webkit-progress-value {
  background: #eb6e85;
}

.progress1 {
  color: #58a1e5;
}
.progress1::-moz-progress-bar {
  background: #58a1e5;
}
.progress1::-webkit-progress-value {
  background: #58a1e5;
}

.progress2 {
  color: #f7cf6b;
}
.progress2::-moz-progress-bar {
  background: #f7cf6b;
}
.progress2::-webkit-progress-value {
  background: #f7cf6b;
}

.inputs,
.outputs {
  border: 2px solid #f9f9f9;
}

.ranking,
.ranking th,
.ranking td {
  border: 2px solid #f9f9f9;
}
