<div class="center-screen">
  <div class="block" *ngIf="screenNumber==0">

    <h2>Entradas del recomendador</h2>

    <table class="inputs">
      <tr><td style="vertical-align: top; width:150px;">Compradores:</td><td>
        <select class="form-control" [(ngModel)]="compradorSeleccionado">
          <option *ngFor="let x of compradores" [ngValue]="x">{{x.nombre}}</option>
        </select><div *ngIf="compradorSeleccionado.id!=0"><br />(Negociaciones: {{compradorSeleccionado.negociaciones}})</div>
      </td></tr>

      <tr><td style="vertical-align: top;">Subcategorías:</td><td>
        <select class="form-control" [(ngModel)]="subcategoriaSeleccionada">
          <option *ngFor="let x of subcategorias" [ngValue]="x">{{x.nombre}}</option>
        </select><div *ngIf="subcategoriaSeleccionada.id!=0"><br />(Proveedores invitados: {{subcategoriaSeleccionada.proveedores_invitados}})</div>
      </td></tr>
      <tr><td>Baseline:</td><td>
        <input type="number" [(ngModel)]="baseline" min="0" max="9999999" step="1" style="width:100px">&nbsp;€
      </td></tr>
      <tr><td colspan="2">Pesos de los KPIs:</td></tr>

      <tr><td style="text-align: right;">Ahorro:</td><td>
        <input type="number" [(ngModel)]="pesoAhorro" min="0" max="1" step="0.1">
      </td></tr>
      <tr><td style="text-align: right;">Productividad:</td><td>
        <input type="number" [(ngModel)]="pesoProductividad" min="0" max="1" step="0.1">
      </td></tr>
      <tr><td style="text-align: right;">Competitividad:</td><td>
        <input type="number" [(ngModel)]="pesoCompetitividad" min="0" max="1" step="0.1">
      </td></tr>

   
      

    </table>

    <table>
      <tr><td>&nbsp;</td><td style="text-align: right;"><button class="action-button" (click)="onObtenerRecomendacion()">
        Obtener Recomendaciones...
      </button></td></tr>
    </table>
    
  </div>

  <div class="block" *ngIf="screenNumber==1">
    <h2>Recomendaciones</h2>
    <button (click)="onVolverARecomendador()" class="close-button">X</button>  
    
    <table>
      <tr>
        <td>
          <table class="ranking">
            <tr>
              <th>Id</th>
              <th>Tipo</th>
              <th>Confianza</th>
              <th>&nbsp;</th>
            </tr>
            <tr *ngFor="let x of recomendaciones; let i = index" [attr.data-index]="i">
              <td>{{x.id}}</td>
              <td>{{x.tipo}}</td>




              <td><progress class="progress{{i}}" value="{{x.confianza}}" max="100">{{x.confianza}} %</progress>&nbsp;{{x.confianza}} %</td>
              <td style="width: 100px;">
                <button class="action-button" (click)="onVerDetalle(x)">
                  Detalle...
                </button>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <div style="display: block; width: 400px;" *ngIf="chartLabels.length != 0">
            <canvas baseChart width="400px" height="400px"
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="chartLegend"
              [type]="chartType"
              [plugins]="chartPlugins">
            </canvas>
          </div>
        </td>
      </tr>
    </table>
  </div>


  <div class="block" *ngIf="screenNumber==2">
    
    <h2>Detalle de la recomendación</h2>
    <button (click)="onVolverARecomendaciones()" class="close-button">X</button>  
    <table class="outputs">
      <tr><td>Tipo:</td><td>{{recommendacionSeleccionada.tipo}}</td></tr>
      <tr><td>Duración:</td><td>{{recommendacionSeleccionada.duracion}} días</td></tr>
      <tr><td>Tiempo de lanzamiento:</td><td>{{recommendacionSeleccionada.tiempo_lanzamiento}} días</td></tr>
      <tr><td>Proveedores participantes:</td><td>{{recommendacionSeleccionada.proveedores_participantes}} / {{totalProveedores}}</td></tr>
      <tr><td colspan="2"><table>
          <tr>
            <td style="padding-left: 0px">Criterios económicos:</td>
            <td style="width: 100px;">&nbsp;</td>
          </tr>
          <tr *ngFor="let x of recommendacionSeleccionada.criterios_economicos" style="border: 1px solid lightgray; background-color: white;">
            <td>{{x.nombre}}</td>
            <td>Peso: {{x.peso}}</td>
          </tr>
        </table>
      </td></tr>
      <tr><td colspan="2"><table>
          <tr>
            <td style="padding-left: 0px">Criterios técnicos:</td>
            <td style="width: 100px;">&nbsp;</td>
          </tr>
          <tr *ngFor="let x of recommendacionSeleccionada.criterios_tecnicos" style="border: 1px solid lightgray; background-color: white;">
            <td>{{x.nombre}}</td>
            <td>Peso: {{x.peso}}</td>
          </tr>
        </table>
      </td></tr>
      <tr><td>Baseline del usuario:</td><td>{{baseline}}&nbsp;€</td></tr>
      <tr><td>Baseline de la recomendación:</td><td>{{recommendacionSeleccionada.baseline}}&nbsp;€</td></tr>
      <tr><td>KPI:</td><td><progress class="progress" value="{{recommendacionSeleccionada.kpi}}" max="100">{{recommendacionSeleccionada.kpi}} %</progress>&nbsp;{{recommendacionSeleccionada.kpi}} %</td></tr>
      <tr><td>Confianza:</td><td><progress class="progress" value="{{recommendacionSeleccionada.confianza}}" max="100">{{recommendacionSeleccionada.confianza}} %</progress>&nbsp;{{recommendacionSeleccionada.confianza}} %</td></tr>
      <tr><td>Ahorro:</td><td><progress class="progress" value="{{recommendacionSeleccionada.ahorro}}" max="100">{{recommendacionSeleccionada.ahorro}} %</progress>&nbsp;{{recommendacionSeleccionada.ahorro}} %</td></tr>
      <tr><td>Competitividad:</td><td><progress class="progress" value="{{recommendacionSeleccionada.competitividad}}" max="100">{{recommendacionSeleccionada.competitividad}} %</progress>&nbsp;{{recommendacionSeleccionada.competitividad}} %</td></tr>
      <tr><td>Productividad:</td><td><progress class="progress" value="{{recommendacionSeleccionada.productividad}}" max="100">{{recommendacionSeleccionada.productividad}} %</progress>&nbsp;{{recommendacionSeleccionada.productividad}} %</td></tr>
      <tr><td>URL:</td><td><a href='{{recommendacionSeleccionada.url}}' target="_blank">{{recommendacionSeleccionada.url}}</a></td></tr>
    </table>
  </div>

</div>

<pre *ngIf="false"
  style="padding:5px; width: 100%; height: 10pc; overflow-y: scroll; color: white; background-color: black; font-family: 'Courier New', Courier, monospace; font-size: 8pt;">
  {{ receivedMessage | json }}
</pre>